* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#criar-crono,
#criar-crono1 {
  overflow: auto;
}

:root {
  --primary-color: #6562e3;
  --scnd-color: #5e5bcd;
  --third-color: #ce7cff;
  --bg-light: #f7f9f9;

  font-size: 62.5%; /* 1rem = 10px */
  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  background-color: var(--bg-light);
}

#sidebar {
  background-color: var(--primary-color);
  border-radius: 0 1rem 1rem 0;
  padding: 3rem 1.6rem;
  gap: 0.8rem;
  position: fixed;
  width: 31.1rem;
  height: 100%;
}

#sidebar .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 0.8rem;
}

#sidebar .pesquisar {
  background-color: var(--scnd-color);
  border-radius: 0.8rem;
  width: 27rem;
  height: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;

  position: relative;
  top: 2rem;
}

#sidebar #search {
  background-color: transparent;
  font-style: italic;
  font-size: 1.6rem;
  border: none;
  width: 27rem;
  height: 4rem;
}

#sidebar #search::placeholder {
  color: white;
}

#sidebar .menu {
  padding: 5rem 0.8rem;
}

#sidebar .menu ul li {
  list-style-type: none;
  display: block;
}

#sidebar .menu a:link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.6rem;
  gap: 1.6rem;
  transition: 0.3s;
}

#sidebar .menu a:hover {
  background: var(--scnd-color);
}

#sidebar .barplus {
  position: absolute;
  bottom: 2rem;
}

#sidebar a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

#btnMenu {
  cursor: pointer;
  transition: all 0.5s;
}

#btnMenu:hover {
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
  background-color: var(--scnd-color);
}

#btnMenu:active {
  background-color: rgb(3, 4, 7);
}

#sidebar input {
  color: white;
  text-indent: 1.6rem;
  border: none;

  position: relative;
  top: 3rem;
}

#sidebar input[type='submit'] {
  background: url(../images/lupa.png) no-repeat;
  background-size: 2.8rem;
  border-radius: 0.8rem;
  padding: 2rem;
  border: none;
  cursor: pointer;
  position: relative;
  top: -0.6rem;
  left: 19rem;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background: #d3d3d3;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scnd-color); 
}