/* HEADER DA INDEX. BOX CRIAR CRONOGRAMA. */
#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home header {
  background-color: var(--primary-color);
  display: flex;
  width: 120rem;
  height: 45rem;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
}

#home header h1 {
  font-size: 3.1rem;
  line-height: 130%;
  margin-top: 10rem;
  margin-left: 7rem;

  color: white;
}

#home header p {
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  position: absolute;
  width: 50rem;
  height: 14rem;
  left: 7rem;
  top: 16rem;
}

#home header img {
  width: 35rem;
  height: 35rem;
  position: relative;
  top: 4rem;
  left: 45rem;
}

#home .button {
  background: var(--scnd-color);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: background 200ms;
}

#home header .button {
  position: absolute;
  left: 7rem;
  top: 26rem;
}

#home .button:hover {
  background-color: #6486ff;
}

/* SEÇÃO DE BENEFICIOS NA INDEX */
#beneficios .beneficio {
  position: relative;
  top: 50rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.2rem;
}

#beneficios .bnfc {
  padding: 2.4rem;
  text-align: left;
  display: flex;
}

#beneficios .bnfc img {
  border-radius: 2rem;
  width: 30rem;
  height: 30rem;
}

#beneficios .bnfc p {
  width: 50rem;
  position: relative;
  top: 9rem;
  left: -10rem;
}

#beneficios .bnfc h2 {
  position: relative;
  left: 25%;
  margin-block: 1.6rem;
}

/* SEÇÃO DE PLANO PREMIUM NA INDEX */

#plano {
  display: flex;
  align-items: center;
  position: relative;
  top: 32rem;
}

#plano .box {
  background-color: var(--scnd-color);
  width: 50rem;
  height: 50rem;
  position: relative;
  top: 30rem;
  left: 25%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#plano .box span {
  color: white;
}

#plano .box h2 {
  color: white;
  font-size: 3rem;
  position: relative;
  top: -4rem;
}

#plano .box span {
  position: relative;
  top: 5rem;
}

#plano .button {
  background: #6486ff;
  position: relative;
  top: 8rem;

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: background 200ms;
}

#plano .h2 {
  position: relative;
  left: 50%;
}

/* FOOTER NA INDEX */
footer {
  background-color: var(--primary-color);
  padding-block: 6rem;

  text-align: left;

  color: white;

  position: relative;
  top: 90rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer p {
  color: white;
  line-height: 2;
  margin-left: 6rem;
  margin-bottom: 3.2rem;
}

#main .box {
  background-color: var(--scnd-color);
  border-radius: 0 4rem 4rem 0;
  width: 70vw;
  height: 5vw;
  position: absolute;
  top: 10rem;
}

#main .content-box {
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: right;

  position: relative;
  right: 5rem;
  top: 1.5rem;
}

/* ESTILIZAÇÃO DA PÁGINA DE LOGIN/CADASTRO */

#login {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30%;
  margin-left: 10rem;
}

#login h2 {
  color: #ce7cff;
  position: relative;
  top: -7rem;
}

#login h1 {
  color: var(--scnd-color);
  font-size: 4rem;
  position: relative;
  top: -5rem;
}

#login img {
  position: fixed;
  width: 50rem;
  left: 50%;
  top: 20%;
}

#login label {
  color: var(--brand-dark);
  position: relative;
  top: -1.4rem;
}

#login input {
  box-sizing: border-box;
  border: 0.1rem solid #e1afff;
  border-radius: 4rem;
  width: 43rem;
  height: 5.6rem;

  position: relative;
  top: -1.1rem;

  text-indent: 2rem;
}

#login input[type='email']:focus {
  outline: none;
}

#login button,
#login .button {
  background: var(--scnd-color);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: background 200ms;
}

#login button:hover {
  background-color: #6486ff;
}

#login .fpass {
  text-decoration: none;
  position: relative;
  left: 28.5rem;
}

#login a {
  text-decoration: none;
}

#login .button {
  position: absolute;
  top: 31.5rem;
  left: 16rem;
}

input[type='text']:focus {
  outline: none;
}

/* CONFIGURAÇÕES DA HEADER DE CRIAR/MEUS CRONOGRAMAS */

.header h2 {
  position: absolute;
  left: 43.5rem;
  top: 10.5rem;

  font-size: 3.2rem;
  line-height: 3.8rem;

  display: flex;
  align-items: center;

  color: var(--third-color);
}

.header p {
  position: absolute;
  left: 43.5rem;
  top: 16rem;

  font-size: 2.4rem;
  line-height: 3.5rem;

  color: var(--primary-color);
}

/* ESTILIZAÇÃO DAS PÁGINAS DE INFORMAÇÕES DO CRONOGRAMA */

.crono-info {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  position: absolute;
  left: 43.5rem;
  top: 27rem;
}

.crono-info1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: absolute;
  left: 43.5rem;
  top: 27rem;
}

.crono-info1 .info {
  display: flex;
  flex-direction: column;
}

#horario_inicio,
#horario_inicio_1,
#horario_inicio_materia_1,
#horario_inicio_prova_1,
#horario_inicio_afazer_1,
#horario_inicio_hvago_1 {
  text-indent: 0.2rem;
  border: 0.2rem solid #e1afff;
  border-radius: 1rem;
  width: 8rem;
  height: 5rem;
}

#horario_fim,
#horario_fim_1,
#horario_fim_materia_1,
#horario_fim_prova_1,
#horario_fim_afazer_1,
#horario_fim_hvago_1 {
  text-indent: 0.2rem;
  border: 0.2rem solid #e1afff;
  border-radius: 1rem;
  width: 8rem;
  height: 5rem;
}

#publico,
#privado {
  width: 3rem;
  height: 2rem;
}

#titulo_aula_1,
#titulo_cronograma,
#titulo_materia_1,
#titulo_prova_1,
#titulo_afazer_1,
#titulo_hvago_1,
#titulo,
#descricao,
#descricao_prova_1,
#descricao_hvago_1,
#descricao_aula_1,
#descricao_materia_1,
#assunto_1 {
  text-indent: 1rem;
  border: 0.2rem solid #e1afff;
  border-radius: 1rem;
  width: 20rem;
  height: 5rem;
}

#data,
#data_aula_1,
#data_materia_1,
#data_prova_1,
#data_afazer_1,
#data_hvago_1 {
  text-indent: 1rem;
  border: 0.2rem solid #e1afff;
  border-radius: 1rem;
  width: 20rem;
  height: 5rem;
}

#criar-crono button,
#criar-crono1 button {
  color: #ffffff;

  width: 19rem;
  height: 5.8rem;
  background: var(--primary-color);
  border-radius: 2rem;
  border: none;

  position: absolute;
  bottom: -10rem;
  left: 70rem;

  display: flex;
  justify-content: center;
  align-items: center;
}


#criar-crono button:hover,
#criar-crono1 button:hover{
  background: var(--scnd-color);
}

#criar-crono button:-webkit-any-link,
#criar-crono1 button:-webkit-any-link{
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* ESTILIZAÇÃO DA BARRA DE NAVEGAÇÕES DOS TIPOS DE TAREFAS */
.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  position: absolute;
  left: 40%;
  top: 23rem;
}

.options a {
  text-decoration: none;
}

#pesquisar1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 40%;
  top: 30%;
}

#pesquisar1 input[type='text'] {
  color: white;
  background-color: var(--scnd-color);
  border-radius: 0.8rem;
  width: 50rem;
  height: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  border: none;
}

#search {
  background-color: transparent;
  font-style: italic;
  font-size: 1.6rem;
  border: none;
  width: 27rem;
  height: 4rem;
  position: relative;
  left: -1.6rem;
}

#pesquisar1 input[type='text']::placeholder {
  color: white;
}

#pesquisar1 input[type='submit'] {
  background: url(../images/lupa.png) no-repeat;
  background-size: 2.8rem;
  border-radius: 0.8rem;
  padding: 2rem;
  border: none;
  cursor: pointer;
  position: relative;
  top: -4rem;
  left: 45rem;
}

.lista-crono {
  position: absolute;
  left: 40%;
  top: 50%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.meu-crono,
.lista-crono {
  display: flex;
  flex-direction: column;
}

.meu-crono a,
.lista-crono a{
  position: relative;
  left: 43.5rem;
  top: 23rem;

  background-color: #6486ff;
  color: white;
  font-weight: bold;
  border-radius: 2rem;

  width: 50%;
  height: 10%;

  display: flex;
  align-items: center;
  padding: 3rem;
  gap: 5rem;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transition: background 200ms;
}

.meu-crono a:hover,
.lista-crono a:hover {
  border-radius: 3rem;
}

.meu-crono ul a,
.lista-crono ul a{
  text-decoration: none;
}

.meu-crono li,
.lista-crono li{
  list-style-type: none;
  padding: 1rem 0rem;
}

.visualizar {
  position: absolute;
  left: 43.5rem;
  top: 20rem;

  display: flex;
}

.tb1 {
  background-color: #e1afff;

  width: 30rem;
  height: 3rem;

  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.tb2 {
  background-color: #65E9CF;

  width: 30rem;
  height: 3rem;

  text-align: center;

  font-weight: bold;
}

.optbtn {
  position: absolute;
  top: 65rem;
  right: 0;
}

.optbtn a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--primary-color);

  border-radius: 2rem;

  padding: 2rem;

  transition: 0.3s;
}

.optbtn a:hover {
  background-color: var(--scnd-color);
}