<section id="criar-crono1">
  <form class="crono-info1" action="{% url 'cronograma:criarAfazer' %}" method="post">
    {% csrf_token %}

        <div style="display:flex; gap:10px; flex-direction:column;">

            <div style="display:flex; gap:10px; margin-bottom:15px;">

            <div class="info">
              <label for="aulas">Informe seus afazeres</label>
              <input type="text" name="titulo_afazer_1" id="titulo_afazer_1" />
            </div>
            <div class="info">
              <label for="horario">Início</label>
              <input type="time" name="horario_inicio_afazer_1" id="horario_inicio_afazer_1" />
            </div>
            <div class="info">
              <label for="horario">Término</label>
              <input type="time" name="horario_fim_afazer_1" id="horario_fim_afazer_1" />
            </div>
            <div class="info">
              <label for="datas">Datas</label>
              <input type="date" name="data_afazer_1" id="data_afazer_1" />
            </div>


            <label id="add_address" onclick="addClassLine()" style="font-size:50pt;">+</label>
            </div>

            <div id="adress" style="paddin:50px 50px;">

            </div>

        </div>
        <button type="submit" class="btncont" >Salvar afazeres</button>
  </form>
</section>