<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />

    <title>Cria-01</title>

</head>

<body>
    <div class="v54_127">
        <form action="{% url 'cronograma:gerarCronograma' %}" method="post">
        {% csrf_token %}

        <label for="horario">Insira o nome do seu cronograma: </label>
        <input type="text" name="titulo_cronograma" id="titulo_cronograma">
        <div class="crono-priv">
        <label for="privacidade">Quer que seu cronograma seja visível para outras pessoas?</label> <br> <br>
        <input type="radio" name="priv" id="publico">
        <label for="priv">Quero que seja público</label>
        <input type="radio" name="priv" id="privado">
        <label for="priv">Quero que seja privado</label>
        </div>

        <div class="info">
          <label for="aulas">Informe suas aulas</label>
          <input type="text" name="titulo_aula_1" id="titulo_aula_1" />
        </div>
        <div class="info">
          <label for="aulas">Descrição</label>
          <input type="text" name="descricao_aula_1" id="descricao_aula_1" />
        </div>
        <div class="info">
          <label for="horario">Início</label>
          <input type="time" name="horario_inicio_aula_1" id="horario_inicio_1" />
        </div>
        <div class="info">
          <label for="horario">Término</label>
          <input type="time" name="horario_fim_aula_1" id="horario_fim_1" />
        </div>
        <div class="info">
          <label for="datas">Datas</label>
          <input type="date" name="data_aula_1" id="data_aula_1" />
        </div><br>

        <div class="info">
          <label for="titulo_materia_1">Informe suas matérias</label>
          <input type="text" name="titulo_materia_1" id="titulo_materia_1" />
        </div>
        <div class="info">
          <label for="assunto_1">Assunto</label>
          <input type="text" name="assunto_1" id="assunto_1" />
        </div>
        <div class="info">
          <label for="descricao_materia_1">Descrição</label>
          <input type="text" name="descricao_materia_1" id="descricao_materia_1" />
        </div>
        <div class="info">
          <label for="horario_inicio_materia_1">Início</label>
          <input type="time" name="horario_inicio_materia_1" id="horario_inicio_materia_1" />
        </div>
        <div class="info">
          <label for="horario">Término</label>
          <input type="time" name="horario_fim_materia_1" id="horario_fim_materia_1" />
        </div>
        <div class="info">
          <label for="datas">Datas</label>
          <input type="date" name="data_materia_1" id="data_materia_1" />
        </div>

        <div class="info">
          <label for="aulas">Informe suas provas</label>
          <input type="text" name="titulo_prova_1" id="titulo_prova_1" />
        </div>
        <div class="info">
          <label for="aulas">Descrição</label>
          <input type="text" name="descricao_prova_1" id="descricao_prova_1" />
        </div>
        <div class="info">
          <label for="horario">Início</label>
          <input type="time" name="horario_inicio_prova_1" id="horario_inicio_prova_1" />
        </div>
        <div class="info">
          <label for="horario">Término</label>
          <input type="time" name="horario_fim_prova_1" id="horario_fim_prova_1" />
        </div>
        <div class="info">
          <label for="datas">Datas</label>
          <input type="date" name="data_prova_1" id="data_prova_1" />
        </div>

        <div class="info">
          <label for="aulas">Informe seus afazeres</label>
          <input type="text" name="titulo_afazer_1" id="titulo_afazer_1" />
        </div>
        <div class="info">
          <label for="aulas">Descrição</label>
          <input type="text" name="descricao_afazer_1" id="descricao_afazer_1" />
        </div>
        <div class="info">
          <label for="horario">Início</label>
          <input type="time" name="horario_inicio_afazer_1" id="horario_inicio_afazer_1" />
        </div>
        <div class="info">
          <label for="horario">Término</label>
          <input type="time" name="horario_fim_afazer_1" id="horario_fim_afazer_1" />
        </div>
        <div class="info">
          <label for="datas">Datas</label>
          <input type="date" name="data_afazer_1" id="data_afazer_1" />
        </div>

        <div class="info">
          <label for="aulas">Se desejar, insira descanso</label>
          <input type="text" name="titulo_hvago_1" id="titulo_hvago_1" />
        </div>
        <div class="info">
          <label for="aulas">Descrição</label>
          <input type="text" name="descricao_hvago_1" id="descricao_hvago_1" />
        </div>
        <div class="info">
          <label for="horario">Início</label>
          <input type="time" name="horario_inicio_hvago_1" id="horario_inicio_hvago_1" />
        </div>
        <div class="info">
          <label for="horario">Término</label>
          <input type="time" name="horario_fim_hvago_1" id="horario_fim_hvago_1" />
        </div>
        <div class="info">
          <label for="datas">Datas</label>
          <input type="date" name="data_hvago_1" id="data_hvago_1" />
        </div>



            <div class="v121_57">
                <input type="submit" name="login" id="contID" class="v140_119" value="">
                <label class="v121_59" for="contID">Continue</label>
            </div>

        </form>
        <div class="v109_3137"></div>
        <div class="v109_3138"></div>
        <div class="v109_3140"></div>
        <div class="v141_97"></div>
        <div class="v141_107">
            <div class="v141_108"></div>
            <div class="v141_109"></div>
        </div>
        <div class="v109_3751">
            <div class="v109_3752">
                <div class="v109_3753">
                    <div class="v109_3754"></div>
                    <div class="v109_3755"></div>
                    <div class="v109_3756"></div>
                    <div class="v109_3757"></div>
                </div><span class="v109_3758">Daily Schedule</span>
            </div>
        </div>
    </div>

    <fieldset>
    <legend>Select a maintenance drone:</legend>

    <div>
      <input type="radio" id="huey" name="drone" value="huey"
             checked>
      <label for="huey">Huey</label>
    </div>

    <div>
      <input type="radio" id="dewey" name="drone" value="dewey">
      <label for="dewey">Dewey</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" value="louie">
      <label for="louie">Louie</label>
    </div>
</fieldset>
</body>

</html>