<section id="criar-crono1">
  <form class="crono-info1" action="{% url 'cronograma:criarMaterias' %}" method="post">
    {% csrf_token %}
    <div style="display:flex; gap:10px; flex-direction:column;">

        <div style="display:flex; gap:10px; margin-bottom:15px;">
            <div class="info">
              <label for="titulo_materia_1">Informe suas matérias</label>
              <input type="text" name="titulo_materia_1" id="titulo_materia_1" />
            </div>
            <div class="info">
              <label for="assunto_1">Assunto</label>
              <input type="text" name="assunto_1" id="assunto_1" />
            </div>
            <div class="info">
              <label for="aulas">Descrição</label>
              <input type="text" name="descricao_materia_1" id="descricao_materia_1" />
            </div>
            <div class="info">
              <label for="horario_inicio_materia_1">Início</label>
              <input type="time" name="horario_inicio_materia_1" id="horario_inicio_materia_1" />
            </div>
            <div class="info">
              <label for="horario">Término</label>
              <input type="time" name="horario_fim_materia_1" id="horario_fim_materia_1" />
            </div>
            <div class="info">
              <label for="datas">Datas</label>
              <input type="date" name="data_materia_1" id="data_materia_1" />
            </div><br/>

            <label id="add_address" onclick="addMatterLine()" style="font-size:50pt;">+</label>
        </div>

        <div id="adress" style="paddin:50px 50px;">

        </div>
         <!--<a class="btncont" href="#criar-crono"><button style="background-color:none;" type="submit">Salvar e continuar</button></a>-->
    </div>
        <button type="submit" class="btncont" >Salvar materias</button>
  </form>
</section>


<!--
<section id="criar-crono1">
  <form class="crono-info1">
    <div class="info">
      <label for="aulas">Informe suas matérias</label>
      <input type="text" name="aulas" id="desc" />
    </div>
    <div class="info">
      <label for="aulas">Assunto</label>
      <input type="text" name="aulas" id="desc" />
    </div>
    <div class="info">
      <label for="horario">Início</label>
      <input type="time" name="horario" id="horario" />
    </div>
    <div class="info">
      <label for="horario">Término</label>
      <input type="time" name="horario" id="horario" />
    </div>
    <div class="info">
      <label for="datas">Datas</label>
      <input type="date" name="datas" id="data" />
    </div>
    <a class="btncont" href="#criar-crono">Continuar</a>
  </form>
</section>
-->