<section id="criar-crono1">
  <form class="crono-info1" action="{% url 'cronograma:criarProvas' %}" method="post">
    {% csrf_token %}

    <div style="display:flex; gap:10px; flex-direction:column;">

            <div style="display:flex; gap:10px; margin-bottom:15px;">

            <div class="info">
              <label for="aulas">Informe suas provas</label>
              <input type="text" name="titulo_prova_1" id="titulo_prova_1" />
            </div>
            <div class="info">
              <label for="assunto_1">Assunto</label>
              <input type="text" name="assunto_1" id="assunto_1" />
            </div>
            <div class="info">
              <label for="aulas">Descrição</label>
              <input type="text" name="descricao_prova_1" id="descricao_prova_1" />
            </div>
            <div class="info">
              <label for="horario">Início</label>
              <input type="time" name="horario_inicio_prova_1" id="horario_inicio_prova_1" />
            </div>
            <div class="info">
              <label for="horario">Término</label>
              <input type="time" name="horario_fim_prova_1" id="horario_fim_prova_1" />
            </div>
            <div class="info">
              <label for="datas">Datas</label>
              <input type="date" name="data_prova_1" id="data_prova_1" />
            </div>

            <label id="add_address" onclick="addMatterLine()" style="font-size:50pt;">+</label>
            </div>

            <div id="adress" style="paddin:50px 50px;">

            </div>

        </div>
        <button type="submit" class="btncont" >Salvar provas</button>
  </form>
</section>
